.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-around {
  justify-content: space-around;
}

.font-size-2 {
  font-size: 2em;
}

.hover:hover {
  color: red;
  cursor: pointer;
}